---
import { CollectionEntry, getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts: CollectionEntry<"book" | "til" | "blog">[] = await getCollection(
  "blog",
  ({ data }) => !data.draft
);
const tils: CollectionEntry<"book" | "til" | "blog">[] = await getCollection(
  "til",
  ({ data }) => !data.draft
);
const books: CollectionEntry<"book" | "til" | "blog">[] = await getCollection(
  "book",
  ({ data }) => !data.draft
);

const allPosts = posts.concat(tils).concat(books);
let tags = getUniqueTags(allPosts);
---

<Layout title={`tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="tags" pageDesc="all the tags">
    <ul>
      {tags.map(tag => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
