---
import { CollectionEntry, getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/Search";

// Retrieve all articles
const posts: CollectionEntry<"blog">[] = await getCollection(
  "blog",
  ({ data }) => !data.draft
);
const tils: CollectionEntry<"til">[] = await getCollection(
  "til",
  ({ data }) => !data.draft
);

const transform = ({
  data,
}: CollectionEntry<"blog"> | CollectionEntry<"til">) => ({
  title: data.title,
  description: data.description,
  data,
});

// List of items to search in
const postList = posts.map(transform);
const tilList = tils.map(transform);

const searchList = tilList.concat(postList);
---

<Layout title={`search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="search" pageDesc="find stuff...">
    <Search client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
