---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  books: CollectionEntry<"book">[];
}

const { books } = Astro.props;
---

<Layout title={`bookshelf | ${SITE.title}`}>
  <Header activeNav="bookshelf" />
  <Main pageTitle="bookshelf" pageDesc="books I've read">
    <ul>
      {
        books.map(({ data }) => (
          <Card href={`/book/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  <Footer noMarginTop={books.length > 1} />
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
