---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  totalTils: number;
  tils: CollectionEntry<"til">[];
}

const { totalTils, tils } = Astro.props;
---

<Layout title={`TIL | ${SITE.title}`}>
  <Header activeNav="til" />
  <Main pageTitle="TIL" pageDesc="today I learned.">
    <ul>
      {
        tils.map(({ data }) => (
          <Card href={`/til/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  <Footer noMarginTop={totalTils > 1} />
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
